.table-hover tbody tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #495057;
  border-radius: 4px;
}

#calendar {
  max-width: 100%;
  min-height: 500px;
}
